* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #ff8b52, #ff571a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 450px;
}

.form {
    background: #fff;
    padding: 40px 35px;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    animation: fadeIn 1.1s;
}

.form h2 {
    color: #333;
    font-weight: 600;
    margin-bottom: 6px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px 14px;
    border: 1.6px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #ff571a;
    box-shadow: 0 0 5px rgba(255, 87, 26, 0.4);
}

.btn {
    width: 100%;
    padding: 13px;
    background: #ff571a;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 550;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
}

.btn:hover {
    background: #e44f14;
    transform: translateY(-2px);
}

.login-text {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: #555;
}

.login-text a {
    color: #ff571a;
    font-weight: 550;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}